* {
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
}

.container {
background-color: #C4C4C4;
padding: 1px;
}

.row {
    width: 1000px;
    height: 200px;
    margin: 49px;
    background-color: #E6E6E6;
}

.block1-1 {
    width: 200px;
    height: 200px;
    float: left;
    background-color:#FC8F8F;
    text-align: center;
    color: white;
    line-height: 200px;
}

.block1-2 {
    width: 200px;
    height: 200px;
    float: right;
    background-color: #FC8F8F;
    text-align: center;
    line-height: 200px;
}

.block2-1 {
    width: 200px;
    height: 200px;
    float: left;
    background-color: #FC8F8F;
    text-align: center;
    line-height: 200px;
}


.block2-2 {
    width: 100px;
    height: 100px;
    float: right;
    background-color: #FC8F8F;
    text-align: center;
    margin-left: 15px;
    line-height: 100px;
}

.block2-3 {
    width: 100px;
    height: 100px;
    float: right;
    background-color: #FC8F8F;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 100px;
}

.block2-4 {
    width: 100px;
    height: 100px;
    float: right;
    background-color: #FC8F8F;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 100px;
}

.block2-5 {
    width: 100px;
    height: 100px;
    float: right;
    background-color: #FC8F8F;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 100px;
}

.block3-1 {
    width: 200px;
    height: 200px;
    float: left;
    background-color:#FC8F8F;
    text-align: center;
    color: white;
    margin-right: 15px;
    line-height: 200px;
}

.block3-2 {
    width: 200px;
    height: 200px;
    float: left;
    background-color:#FC8F8F;
    text-align: center;
    color: white;
    line-height: 200px;
}

.block3-3 {
    width: 200px;
    height: 200px;
    float: right;
    background-color:#FC8F8F;
    text-align: center;
    color: white;
    line-height: 200px;
}

.block3-4 {
    width: 200px;
    height: 200px;
    float: right;
    background-color:#FC8F8F;
    text-align: center;
    color: white;
    margin-right: 15px;
    line-height: 200px;
}

